@use '../../styles/mixins' as *;
@use '../../styles/media' as *;


.table-wrapper{
    max-width: 1400px;
    margin: 0 auto;

    .coin-logo{
        border-radius: 50%;
        object-fit: contain;
        width: 24px;
        height: 24px;
    }

    
      
    .ant-table-row:hover {
        cursor: pointer;
    }

}