@use '../../styles/mixins' as *;
@use '../../styles/media' as *;


.table-wrapper{
    max-width: 1400px;
    margin: 0 auto;

    .coin-logo{
        border-radius: 50%;
        object-fit: contain;
        width: 24px;
        height: 24px;
    }

    
      
    .ant-table-row:hover {
        cursor: pointer;
    }

    .favorites-btn{
        @include reset-button;
        cursor: pointer;
        transition-duration: var(--transition-duration);
        padding: 4px;

        @include hover{
            path{
                // user-select: none;
                fill: var(--c-color-beige-600);
            }
        }

        &__svg{
            // user-select: none;
            path{
                fill: var(--color-neutral-6);
            }
        }

        &.active{
            path{
                // user-select: none;
                fill: var(--c-color-beige-600);
            }
        }
    }

    .table-down-cell{
        color: var(--down-color);

        &__text{
            padding-left: 3px;
        }
    }

    .table-grow-cell{
        color: var(--up-color);
        &__text{
            padding-left: 3px;
        }
    }

}