@use 'mixins' as *;
@use 'variables' as *;

:root{
    --text-main-color: var(--c-color-text-primary);
    --background-main-color: var(--c-color-background-2);

    scrollbar-color: var(--c-color-gray-400) transparent;
}

// ::selection {
//     background-color: var(--main-color); /* Цвет фона выделения */
//     color: var(--configurator-contol-btn-bg-color); /* Цвет текста выделения */
// }

body{
    @include fluid-text(18, 16);

    font-family: var(--font-family-base);
    font-weight: 400;
    line-height: 1.28;
    color:var(--text-main-color);
    background-color: var(--background-main-color);
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a{
    text-decoration: none;
    color:inherit;
}

h1, h2, h3, h4 { 
    font-weight: 500;
}

h1{
    @include fluid-text(60, 43);
}

h2{
    @include fluid-text(50, 36);
}

h3,.h3{
    @include fluid-text(30, 26);
}

h4{
    @include fluid-text(20, 18);
}

hr{
    border:0 !important;
    border-top: 1px solid #2a2a2a !important;
}

.display-none{
    display:none !important;
}

.grow-symbol{
    &::before{
        content: url('/svg/arrow-up.svg');
    }
}

.down-symbol{
    &::before{
        content: url('/svg/arrow-down.svg');
    }
}