@use '../../styles/mixins' as *;
@use '../../styles/media' as *;
@use '../../styles/variables' as *;

.coin-section{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;

    @include tablet{
        flex-direction: column;
    }

    .coin{
        display: flex;
        flex-direction: column;
        width: 360px;
        padding: 24px;

        @include tablet{
            width: 100%;
            max-width: 500px;
            padding: 12px;
        }

        &__back{
            margin-bottom: 10px;
            font-weight: 700;
            
            &-link{
                transition-duration:  var(--transition-duration);
                position: relative;
                padding-bottom: 3px;

                &::after{
                    content: '';
                    position: absolute;
                    transition-duration: var(--transition-duration);
                    background-color: currentColor;
                    left: 0;
                    bottom: 0;
                    width: 50%;
                    height: 1.5px;
                }

                @include hover{
                    &::after{
                        width: 100%;
                    }
                }
            } 
        }

        

        &__header{
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: 500;

            &-img{

            }

            &-name{
                font-size: 18px;
                font-weight: 600;
            }

            &-symbol{
                padding-top: 5px;
                font-size: 12px;
                color: var(--c-color-gray-600);
            }

            &-rank{
                padding-top: 2px;
                font-size: 14px;
                color: var(--c-color-gray-600);
            }
        }

        

    }

    .chart-container{

        .chart-dashboard{
            display: flex;
            justify-content: end;
            gap: 2px;

            @include tablet{
                justify-content: start;
            }
        }

        .chart{

        }
    }
}