@use '../../../styles/mixins' as *;
@use '../../../styles/media' as *;

.favorites-btn{
    @include reset-button;
    cursor: pointer;
    display: grid;
    place-items: center;
    transition-duration: 0.3s;
    padding: 4px;

    @include hover{
        path{
            fill: var(--c-color-beige-600);
        }
    }

    &__svg{
        path{
            fill: var(--color-neutral-6);
        }
    }
}